body{
    font-family: Georgia;
}

.center{
    margin: 0 auto;
    width: 60%;
    border: 6px solid gray;
    background-color: rgb(250, 250, 232);
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(255, 153, 1);
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom: solid rgb(102, 102, 102) 4px;
}

img{
    display: block;
    margin: auto;
}

.link{
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: solid black 1px;
    width: 100%;
    background-color: rgb(173, 173, 173);
    font-size: large        ;
    font-weight: bold;
}

.vuelta_indice{
    margin-right: 3%;
    margin-left: 3%;
    color: black;
}

.vuelta_indice:hover{
    color: gray;
}

.link:hover{
    background-color: rgb(109, 109, 109);
}

p{
    margin-left: 3%;
    margin-right: 3%;
    text-align: justify;
    text-justify: inter-word;
}

h1{
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;
}

.wrapper
{
	padding-bottom: 30px;
}

.divider
{
	position: relative;
    margin-top: 40px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}